.container{
    min-height: 100vh;
    width: 80%;
    max-width: 50rem;
    padding-bottom: 2%;
    margin: 2% auto;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 28px #d7d7d7,
             -7px -7px 28px #e9e9e9;
}

.top{
    min-height: 15vh;
    background-color: #74359d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top p{
    color:cornsilk;
    margin:0
}

.title{
    font-size: 2rem;
    font-weight: 500;
}

.description{
    font-size: 1rem;
    font-weight: 400;
}

.topLine{
    background-color: cyan;
    height: 10vh;
}

.sendButton{
  border: none;
  border-radius: 1rem;
  margin-top:3%;
  padding: 0.5rem;
  font-family: "Roboto";
  font-weight: 600;
  background-color: skyblue;
  color: white;
  transition: 0.5s;
  width: 6rem;
  font-size:1rem
}

.sendButton:hover{
  filter: brightness(1.1);
  cursor:pointer;
  transform: scale(1.05)

}